$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(bottom, #ffffff, #f3f3f3);
$background-color: #154353;
$gray-text: #2b2b2b;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";

@media screen and (min-width: 300px) and (max-width: 600px) {
  .main-head {
    width: 100%;
    height: 6vh;
    background: $gray-text;
    @include flex(center, center, row);
    position: sticky;
    top: 0;
  }

  #logo {
    width: 50%;
    height: 5vh;
    @include flex(flex-start, center, row);
    padding-left: 2rem;
    img {
      width: auto;
      height: 90%;
    }
  }

  #span {
    @include flex(flex-end, center, row);
    width: 50%;
    height: 5vh;
    padding-right: 2rem;
    color: white;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding-top: 1rem;
    width: 80%;
    text-align: right;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .social {
    height: 3rem;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .main-intro {
    @include flex(flex-start, center, column);
    width: 100%;
    height: 100vh;

    overflow: hidden;
  }
  .intro-text {
    @include flex(center, center, column);
    text-align: center;
    width: 100vw;
    height: 30%;
    padding: 1rem 2rem 0 2rem;
    h1 {
      font-size: 3rem;
      font-weight: 200;
      padding-bottom: 2rem;
    }
    p {
      text-align: justify;
      font-size: 1.5rem;
    }
  }
  .intro-img {
    width: 100vw;
    height: 70%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .recent-images {
    width: 100vw;
    height: auto;
    @include flex(center, center, column);
  }
  .title {
    width: 100%;
    height: 10vh;
    padding: 1rem;
    @include flex(center, center, row);
    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .imgs {
    width: 100%;
    height: auto;
    overflow: hidden;

    grid-area: images;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
      "thumbs2 main thumbs5"
      "thumbs3 main thumbs6"
      "thumbs4 main thumbs7";
  }
  #grid-item:first-child {
    grid-column-start: main;
    grid-column-end: thumbs6;
    grid-row-start: thumbs3;
    grid-row-end: thumbs3;
  }
  #grid-item:nth-child(2) {
    grid-column-start: thumbs2;
    grid-column-end: main;
    grid-row-start: thumbs2;
    grid-row-end: thumbs2;
  }
  #grid-item:nth-child(3) {
    grid-area: thumbs3;
  }
  #grid-item:nth-child(4) {
    grid-area: thumbs7;
  }

  #grid-item:nth-child(5) {
    grid-area: thumbs5;
  }
  #grid-item:nth-child(6) {
    grid-column-start: thumbs2;
    grid-column-end: main;
    grid-row-start: thumbs4;
    grid-row-end: main;
  }

  #grid-item img {
    box-sizing: border-box;
    display: block;

    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #grid-item:first-child img {
    box-sizing: border-box;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .packages {
    width: 100vw;
    height: auto;
  }
  #title {
    text-align: center;
    padding: 1rem 0rem 1rem 0;
    font-size: 4rem;
    font-weight: 300;
  }
  .package {
    margin-bottom: 2rem;
    width: 100vw;
    height: 250px;
  }

  .info {
    background: $gradient;
    height: 40px;
    width: 100%;

    padding: 0.5rem;
    h1 {
      font-weight: 300;
      text-align: center;
    }
  }
  .pack {
    height: 210px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $gray-text;
  }
  .pack:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    a {
      font-size: 1rem;
      text-decoration: underline;
    }
  }
  .footer {
    position: sticky;

    width: 100vw;
    height: 6vh;
    background: $gray-text;
    @include flex(space-evenly, center, row);
  }
  #footer-logo {
    width: 1fr;
    height: 5vh;
    img {
      height: 100%;
    }
  }
  #footer {
    width: 1fr;
    height: 5vh;
    padding-top: 1rem;
    color: white;
  }
  #social-icon {
    width: 1fr;
    height: 5vh;
    padding-top: 1rem;
    img {
      padding-right: 1rem;
      height: 1.5rem;
    }
  }
}
