* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .main-head {
    width: 100%;
    height: 6vh;
    background: #2b2b2b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #logo {
    width: 50%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 2rem;
  }
  #logo img {
    width: auto;
    height: 90%;
  }
  #span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    height: 5vh;
    padding-right: 2rem;
    color: white;
  }
  .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding-top: 1rem;
    width: 80%;
    text-align: right;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .social {
    height: 3rem;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .main-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 30%;
    padding: 1rem 2rem 0 2rem;
  }
  .intro-text h1 {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 2rem;
  }
  .intro-text p {
    text-align: justify;
    font-size: 1.5rem;
  }
  .intro-img {
    width: 100vw;
    height: 70%;
  }
  .intro-img img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recent-images {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    width: 100%;
    height: 10vh;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .title h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }
  .imgs {
    width: 100%;
    height: auto;
    overflow: hidden;
    grid-area: images;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas: "thumbs2 main thumbs5" "thumbs3 main thumbs6" "thumbs4 main thumbs7";
  }
  #grid-item:first-child {
    -ms-grid-column: main;
        grid-column-start: main;
    grid-column-end: thumbs6;
    -ms-grid-row: thumbs3;
        grid-row-start: thumbs3;
    grid-row-end: thumbs3;
  }
  #grid-item:nth-child(2) {
    -ms-grid-column: thumbs2;
        grid-column-start: thumbs2;
    grid-column-end: main;
    -ms-grid-row: thumbs2;
        grid-row-start: thumbs2;
    grid-row-end: thumbs2;
  }
  #grid-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: thumbs3;
  }
  #grid-item:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: thumbs7;
  }
  #grid-item:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: thumbs5;
  }
  #grid-item:nth-child(6) {
    -ms-grid-column: thumbs2;
        grid-column-start: thumbs2;
    grid-column-end: main;
    -ms-grid-row: thumbs4;
        grid-row-start: thumbs4;
    grid-row-end: main;
  }
  #grid-item img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #grid-item:first-child img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .packages {
    width: 100vw;
    height: auto;
  }
  #title {
    text-align: center;
    padding: 1rem 0rem 1rem 0;
    font-size: 4rem;
    font-weight: 300;
  }
  .package {
    margin-bottom: 2rem;
    width: 100vw;
    height: 250px;
  }
  .info {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f3f3f3));
    background: linear-gradient(bottom, #ffffff, #f3f3f3);
    height: 40px;
    width: 100%;
    padding: 0.5rem;
  }
  .info h1 {
    font-weight: 300;
    text-align: center;
  }
  .pack {
    height: 210px;
    width: 100%;
    position: relative;
  }
  .pack img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: #2b2b2b;
  }
  .pack:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text a {
    font-size: 1rem;
    text-decoration: underline;
  }
  .footer {
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    height: 6vh;
    background: #2b2b2b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer-logo {
    width: 1fr;
    height: 5vh;
  }
  #footer-logo img {
    height: 100%;
  }
  #footer {
    width: 1fr;
    height: 5vh;
    padding-top: 1rem;
    color: white;
  }
  #social-icon {
    width: 1fr;
    height: 5vh;
    padding-top: 1rem;
  }
  #social-icon img {
    padding-right: 1rem;
    height: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */